
h1{
    background-color: lightskyblue;
    color: darkgoldenrod;
    text-align: center;
}

h2{
    background-color: #0b0bdc;
    text-align: center;
}

a{
    background-color: chartreuse;
    color: darkgoldenrod;
}

p{
    background-color: yellow;
    color: #0b0bdc;
}

ul{
    background-color: brown;
    color: white;
}

li{
    background-color: wheat;
    color: seagreen;
}

.nav{
    margin: 20px auto;
    width: 500px;
    display: flex;
    justify-content: space-around;

}

.nav > a {
    text-decoration: none;
    color: aqua;
    font-size: 24px;
    background-color: white;

}
