body{
    margin: 0;
    padding: 0;
}

.nav{
    margin: 20px auto;
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.nav > a {
    text-decoration: none;
    color: aqua;
    font-size: 24px;
}

h2{
    text-align: center;
}

.container{
    width: 95vw;
    height: 65vh;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-color{
    background-color: #bdbdc7;
}

.a {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bc{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;

}

.b{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 0) and (max-width: 600px) {
    .container{
        width: 95vw;
        height: 95vh;
        margin: 10px auto;
    }

    .a {
        height: 22%;
    }

    .bc{
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
    }

    .b{
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .c{
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}